@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 
    "cv11", "salt" , "ss01", "ss03", 
    "cv01", "cv02", "cv03", "cv04", 
    "cv05", "cv06", "cv09", "cv10";
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Inner Shadow To Texts */
/* text-shadow is not supported for Tailwind CSS */
.inner-text-shadow-blue {
  color: transparent;
  text-shadow: 0px 2px 2px rgba(10, 35, 100, 0.4);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.inner-text-shadow-red {
  color: transparent;
  text-shadow: 0px 2px 4px rgba(153, 14, 14, 0.6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}